@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #012A4A;
    --secondary-color: #013A63;
    --accent1-color: #01497C;
    --accent2-color: #014F86;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto Flex', serif;

    --nav-backgroud-color: var(--primary-color);
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: var(--nav-link-color);
    --nav-hover-background-color: var(--accent2-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
}

header h1,
header div {
    color: var(--nav-link-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-backgroud-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}